@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body {
  background-color: #CCE5FF;
  font-family: 'Gamja Flower';
  text-align: center;
  padding-top: 30px;
}

h1 {
  font-size: 52px;
  color: #FFFFFF;
  background-color: #4DABF7;
  padding: 20px;
  margin-bottom: 20px;
}

select {
  font-size: 19px;
  padding: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  border: 2px solid #99CCFF;
  border-radius: 5px;
}

button {
  font-size: 18px;
  padding: 10px;
  margin-top: 10px;
  background-color: #4DABF7; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #299af7;
}

#result {
  margin-top: 30px;
  font-size: 2rem;
  color: #333333;
}