@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

#box span {
    color: red;
}

* {
    font-family: "Gamja Flower", sans-serif;
}

#box .modal-body{
  font-size: 20px;
  color: green;
}

td, th {
  text-align: center;
}